<h1><%= link_to("MeSH #{@book.title} ", book_path(@book)) if @book %>Terms</h1>
<%= alphabetical_query_list @q %>
<%= page_entries_info @terms %>
<table>
  <tr>
    <th>Term</th>
    <th>Term ui</th>
  </tr>

<% for term in @terms %>
  <tr>
    <td><%= link_to term.term, term_path(term) %></td>
    <td><%=h term.term_ui %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @term %>
