<h1><%= @term.term %></h1>

<%= @term.books_count %> years

<% ancestors_and_children(@term).group_by(&:book).each do |book, nodes| -%>
<h2><a name="<%= book.title %>"><%= link_to book.title, book_path(book) %></a></h2>

<table>
  <% for node in nodes -%>
  <tr<%= " class=\"highlight\"" if @term.term == node.term.term %>>
    <td><%= link_to(node.term.term, book_term_path(node.book, node.term, :anchor => node.book.title), :class => "level#{node.level}")%></td>
    <td><%= node.tree_number %></td>
    <td><%= node.normalized_tree_number %></td>
    <td><%= node.dui %></td>
  </tr>
  <% end -%>
</table>
<% end -%>