<% page_title(@term.term) -%>
<h1><%= @term.term %></h1>

<%= @term.books_count %> years

<% @term.ancestors_and_children.group_by(&:book).each do |book, nodes| -%>
<h2><a name="<%= book.title %>"><%= link_to book.title, book_path(book) %></a></h2>

<div id="tree<%= book.title %>">
<%= tree_view(nodes, nil, @term) %>
</div><!-- #tree<%= book.title %> -->
<script type="text/javascript">
var tree<%= book.title %>;
(function() {
  tree<%= book.title %> = new YAHOO.widget.TreeView("tree<%= book.title %>");
  tree<%= book.title %>.render();
  tree<%= book.title %>.subscribe('clickEvent',function () {return false;});
})();
</script>
<% end -%>