<h1><%= @book.title %></h1>

<%= page_entries_info @lines %>
<table>
<% for l in @lines -%>
  <tr>
    <td><%= link_to l.term.term, term_path(l.term), :class => "indent#{l.indent - 2}" %></td>
    <td><%= l.tree_number %></td>
    <td>edit | delete | insert after</td>
  </tr>
<% end -%>
</table>
<%= will_paginate @lines %>
