<h1><%= @book.title %></h1>

nodes: <%= link_to(number_with_delimiter(@book.nodes_count), nodes_book_path(@book)) %>
terms: <%= link_to(number_with_delimiter(@book.terms_count), book_terms_path(@book)) %>

<h2>Categories</h2>

<table>
  <tr>
    <th>Term</th>
    <th>Tree Number</th>
    <th>Normalized Tree Number</th>
  </tr>
<% @book.nodes.level(1).each do |node| -%>
  <tr>
    <td><%= link_to(node.term.term, term_path(node.term, :anchor => @book.title)) %></td>
    <td><%= node.tree_number %></td>
    <td><%= node.normalized_tree_number %></td>
  </tr>
<% end -%>
</table>