<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title><%= yield(:page_title) || controller.controller_name.titleize %> - MEVO</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&2.7.0/build/base/base-min.css&2.7.0/build/tabview/assets/skins/sam/tabview.css&2.7.0/build/treeview/assets/skins/sam/treeview.css">
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo-dom-event/yahoo-dom-event.js&2.7.0/build/treeview/treeview-min.js"></script>
<%= stylesheet_link_tag "default" %>
</head>
<body>
<div id="doc4" class="yui-t7">
<div id="hd">
  <div id="search">
    <% form_tag({:controller => :terms}, {:method => :get}) do -%>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag "Search", :name => nil %>
    <% end -%>
  </div><!-- #search -->
  MEVO: MeSH Evolution Browser
</div><!-- #hd -->
<div id="bd">
  <div class="yui-navset yui-navset-left">
    <ul class="yui-nav">
<% for menu in %w(home books terms) -%>
<% navclass = menu == controller.controller_name ? "#{menu} selected" : menu -%>
      <li class="<%= navclass %>"><%= link_to "<em>#{menu.titleize}</em>", "/#{menu}" %></li>
<% end -%>
    </ul>
    <div class="yui-content <%= controller.controller_name %>">
      <div class="mv-content">
<%= yield %>
      </div><!-- .mv-content -->
    </div><!-- .yui-content -->
  </div><!-- .yui-navset .yui-navset-left -->
</div><!-- #bd -->
<div id="ft">
  <%= link_to("Source Code", "http://github.com/seouri/mevo", :target => "_blank") %>
  <%= link_to("Issue Tracker", "http://github.com/seouri/mevo/issues", :target => "_blank") %>
</div><!-- #ft -->
</div><!-- #doc4 -->
</body>
</html>

